@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="alert alert-danger d-flex align-items-center" role="alert">
    <div>
        <h1>Permission Denied!</h1>
        <p> You do not have acces to this resource.</p>
        <a class="alert-link" asp-action="Index">Back to List</a>
        @if (!User.Identity.IsAuthenticated)
        {
            <span>|</span>
            <a class="alert-link" asp-area="Identity" asp-page="/Account/Register"> Register </a>
            <span>|</span>
            <a class="alert-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
        }
    </div>
</div>

