@model MVC_Identity_Movie.Models.Movie

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Movie</h4>
<hr />
@if (User.IsInRole("Administrator") || User.Identity.IsAuthenticated)
{
    <form asp-action="Edit" enctype="multipart/form-data">
        
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="row">
            <div class="col-md-4">
                @{
                    var base64 = Model.File != null ? Convert.ToBase64String(Model.File) : "";
                    var imageSrc = $"data:image/jpeg;base64,{base64}";
                }


                <div class="form-group">
                    <label class="control-label">Poster</label>
                     <img id="moviePoster" src="@imageSrc" alt="Poster" class="img-fluid rounded-start" />
                    <span asp-validation-for="File" class="text-danger"></span>
                </div>
                <div class="form-group">           
                    <input type="file" asp-for="FileName" name="FileForm" onchange="showImage(this)" class="form-control" placeholder="Poster file" />
                    <span asp-validation-for="FileName" class="text-danger"></span>
                </div>



            </div> 
            <div class="col-md-8">         

                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Director" class="control-label"></label>
                    <input asp-for="Director" class="form-control" />
                    <span asp-validation-for="Director" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Release Date</label>
                    <input asp-for="ReleaseDate" class="form-control" />
                    <span asp-validation-for="ReleaseDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Genre" class="control-label"></label>
                    <input asp-for="Genre" class="form-control" />
                    <span asp-validation-for="Genre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Rating" class="control-label"></label>
                    <input asp-for="Rating" class="form-control" />
                    <span asp-validation-for="Rating" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a class="btn btn-primary" asp-action="Index"> Back to List</a>
                </div>
                
      
            </div>
        </div>
    </form>

}
else
{
    <partial name="_accesDenied" />
}


@section Scripts {
    <script>
        function showImage(data){
            const image = document.getElementById('moviePoster');
            const reader = new FileReader();
            const file = data.files[0];

            reader.addEventListener("load", function(){
                image.src = reader.result;
            },false);

            reader.readAsDataURL(file);
        }
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
